[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
tensorboardx = "*"
pytorch-utils = {git = "git://github.com/cottersci/pytorch_utils"}
torchvision = "*"
tensorflow = "*"
pytest = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.6"
